<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $auditproduit->ap_ID],
                ['confirm' => __('Are you sure you want to delete # {0}?', $auditproduit->ap_ID)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Auditproduits'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="auditproduits form large-9 medium-8 columns content">
    <?= $this->Form->create($auditproduit) ?>
    <fieldset>
        <legend><?= __('Edit Auditproduit') ?></legend>
        <?php
            echo $this->Form->control('ap_event');
            echo $this->Form->control('ap_eventDate');
            echo $this->Form->control('ap_designProd');
            echo $this->Form->control('ap_oldStock');
            echo $this->Form->control('ap_newStock');
            echo $this->Form->control('ap_utilisateur');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
