<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $fournisseur->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $fournisseur->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Fournisseurs'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Approvisionnements'), ['controller' => 'Approvisionnements', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Approvisionnement'), ['controller' => 'Approvisionnements', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="fournisseurs form large-9 medium-8 columns content">
    <?= $this->Form->create($fournisseur) ?>
    <fieldset>
        <legend><?= __('Edit Fournisseur') ?></legend>
        <?php
            echo $this->Form->control('nom');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
