<?php
/**
  * @var \App\View\AppView $this
  * @var \App\Model\Entity\Auditvente $auditvente
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Auditvente'), ['action' => 'edit', $auditvente->av_ID]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Auditvente'), ['action' => 'delete', $auditvente->av_ID], ['confirm' => __('Are you sure you want to delete # {0}?', $auditvente->av_ID)]) ?> </li>
        <li><?= $this->Html->link(__('List Auditventes'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Auditvente'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="auditventes view large-9 medium-8 columns content">
    <h3><?= h($auditvente->av_ID) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Av Event') ?></th>
            <td><?= h($auditvente->av_event) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Av NomCli') ?></th>
            <td><?= h($auditvente->av_nomCli) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Av DesignProd') ?></th>
            <td><?= h($auditvente->av_designProd) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Av Utilisateur') ?></th>
            <td><?= h($auditvente->av_utilisateur) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Av ID') ?></th>
            <td><?= $this->Number->format($auditvente->av_ID) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Av OldQtesortie') ?></th>
            <td><?= $this->Number->format($auditvente->av_oldQtesortie) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Av NewQtesortie') ?></th>
            <td><?= $this->Number->format($auditvente->av_newQtesortie) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Av EventDate') ?></th>
            <td><?= h($auditvente->av_eventDate) ?></td>
        </tr>
    </table>
</div>
